<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FileExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="logfile" xsi:type="File" fileName="Log.txt"
                    layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=shortType,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
            <target name="logconsole" xsi:type="Console" />
        </targets>
        <rules>
            <logger name="*" minlevel="Info" writeTo="logconsole" />
            <logger name="*" minlevel="Info" writeTo="logfile" />
        </rules>
    </nlog>
    <userSettings>
        <FileExplorer.Properties.Settings>
            <setting name="ShowFileExtensions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowHiddenItems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSystemItems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCheckBoxes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowRowNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNavigationPane" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPreviewPane" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDetailsPane" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuickAccessFolders" serializeAs="String">
                <value />
            </setting>
            <setting name="ThemeName" serializeAs="String">
                <value>Office2019White</value>
            </setting>
            <setting name="ConfirmMove" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfirmCopy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DragDropConfirmMove" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DragDropConfirmCopy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DragDropDifferentDrive" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DragDropSameDrive" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstFolderToOpen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Layout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SimplifiedRibbon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddToStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="LeftPaneWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="RightPaneWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
        </FileExplorer.Properties.Settings>
    </userSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
   <runtime>
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
           <probing privatePath="Library" />
       </assemblyBinding>
   </runtime>
</configuration>
