<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlphaFS" version="2.2.6" targetFramework="net48" />
  <package id="AsyncKeyedLock" version="6.2.1" targetFramework="net48" />
  <package id="CommandLineParser" version="2.9.1" targetFramework="net48" />
  <package id="DevExpress.Mvvm.CodeGenerators" version="22.1.1" targetFramework="net48" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.1.0" targetFramework="net48" />
  <package id="LiteDB" version="4.1.4" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net48" />
  <package id="NLog" version="5.1.3" targetFramework="net48" />
  <package id="Onova" version="2.6.7" targetFramework="net48" />
  <package id="Syroot.Windows.IO.KnownFolders" version="1.3.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Claims" version="4.0.1" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="7.0.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Vanara.Core" version="3.4.13" targetFramework="net48" />
  <package id="Vanara.PInvoke.ComCtl32" version="3.4.13" targetFramework="net48" />
  <package id="Vanara.PInvoke.Cryptography" version="3.4.13" targetFramework="net48" />
  <package id="Vanara.PInvoke.Gdi32" version="3.4.13" targetFramework="net48" />
  <package id="Vanara.PInvoke.Kernel32" version="3.4.13" targetFramework="net48" />
  <package id="Vanara.PInvoke.Ole" version="3.4.13" targetFramework="net48" />
  <package id="Vanara.PInvoke.Rpc" version="3.4.13" targetFramework="net48" />
  <package id="Vanara.PInvoke.Security" version="3.4.13" targetFramework="net48" />
  <package id="Vanara.PInvoke.Shared" version="3.4.13" targetFramework="net48" />
  <package id="Vanara.PInvoke.Shell32" version="3.4.13" targetFramework="net48" />
  <package id="Vanara.PInvoke.ShlwApi" version="3.4.13" targetFramework="net48" />
  <package id="Vanara.PInvoke.User32" version="3.4.13" targetFramework="net48" />
  <package id="Vanara.WPF.Extensions" version="3.4.13" targetFramework="net48" />
</packages>